.card-container { 
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 0.5rem;
    max-width: fit-content;
    padding: 0.5rem;
    margin: 10vh auto;
    border: 8px solid #000000;
    box-shadow: 10px 10px 0px #000000;

}

.box {
    font-family: 'Josefin Sans';
    color: #fff;
    text-align: center;
    font-size: clamp(1rem, 5vw, 20rem);
    background-color: rgb(251, 97, 189);
    border: 2px solid #000000;
    box-shadow: 2px 2px 0px #000000;
    padding: 1rem 10rem;
}


@media screen and (max-width: 768px) {
    .box {
        padding: 15vw;
        
    }
}