.layout {
    background-color: #F4D9A3;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

.footer {
    background-color: #F4D9A3;
    min-height: 5vh;
    text-align: center;
}