h1, h2, h3 {
    font-weight: 700;
}

.draw-container {
    width: 80vw;
    text-align: "center";
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    margin: auto;
}

#title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* left of title - contains back-icon */
#title-div a {
    flex: 1;
    text-align: center;
}

/* right of title - contains h1 and collapse-icon */
#title-div h1 {
    flex: 5;
    text-align: center;
    font-size: clamp(2rem, 5vw, 5rem);
    margin: 0;
}

#back-icon {
    display:inline;
    max-width: 5rem;
    width: clamp(2rem, 5vw, 5rem);
}

#collapse-icon {
    display:inline;
    max-width: 4rem;
    margin: 0 0 5rem 0;
}

#rules-div {
    margin: 0 auto 5vw auto;
    text-align: center;
}

#rules-div ul {
    list-style-type: none;
    font-size: 2rem;
    margin:auto;
}

#rules-div ul li {
    padding: 0;
    margin: 0;
}

/* contains draw button + current number + drawn numbers */
#draw-div {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
}
/* left column */
#numbers-list-div {
    flex: 1;
    border: 8px solid #000000;
    box-shadow: 10px 10px 0px #000000;
}

#numbers-list-div h3 {
    text-align: center;
    font-size: 2rem;
    background-color: #FF3F3F;
    margin: 0;
}

#numbers-list {
    list-style-type: none;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 1rem;
}

.numbers-list-item{
    line-height: 1em;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
}

.hide-list {
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem 1rem;
    color: #FF3F3F;
    cursor: pointer;
}



/* middle column */
#draw-controls {
    flex: 5;
    display: flex;
    flex-direction: column;
}

/* right column (blank - used for spacing */
.column-3 {
    flex: 1;
    padding:1rem;
    
}

/* contents of middle column */
#draw-controls h2 {
    margin: auto;
    flex:1;
    text-align: center;
    font-size: clamp(10rem, 40vw, 25rem);
    line-height: 25rem;
    color: #000000;
}

.draw-button {
    font-family: "Josefin Sans", sans-serif;
    padding: 3rem 20%;
    border: 8px solid #000000;
    box-shadow: 10px 10px 0px #000000;
    transform: rotate(-2.15deg);
    margin: 0 auto;
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: clamp(1rem, 10vw ,5rem);
    line-height: 4rem;
    background-color: #00FFF0;
    color: #fff;
    flex:1;
}

@media screen and (max-width: 640px) {
    .draw-button {
        padding: 3rem 5%;
        margin: 0;
    }
}

@media screen and (max-width: 1280px){
    #draw-div {
        flex-direction: column;
    }

    #numbers-list-div {
        order: 2;
        margin: 3rem 0;
        font-size: ;
    }
}